@import "../../../../assets/sass/variables";

.active-icon {
    color: green;
}

.inactive-icon {
    color: red
}

.main-container {
    display: flex;
    flex-direction: row;

    .parking-form {
        display: flex;
        width: 70%;
        height: 650px;
        flex-direction: column;
        background-color: white;
        border-radius: $card-border-radius;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;

        .buttons {
            display: flex;
            align-items: center;
            justify-content: right;
            height: auto;
            margin: 1rem;

            button {
                width: 15%;
                background-color: $palette-color-three;
                color: $palette-color-four;
                border: $button-border;
                font-weight: $font-weight-button;
                font-size: $font-size-button;
                padding: $button-padding;
                line-height: $button-line-height;
                border-radius: $button-radius;
                transition: scale .2s ease-in-out;
                margin-bottom: $button-mgb;
                margin-left: 1rem;
                font-family: $font-primary;
                margin-top: $button-mgt;
            }

            button:hover{
                scale: 110%;
                cursor: pointer;
            }

            .cancel{
                background-color: #A02334;
                color: $palette-color-four;
                border: $button-border;
                font-weight: $font-weight-button;
                font-size: $font-size-button;
                padding: $button-padding;
                line-height: $button-line-height;
                border-radius: $button-radius;
                transition: scale .2s ease-in-out;
                margin-bottom: $button-mgb;
                margin-left: 1rem;
                font-family: $font-primary;
                margin-top: $button-mgt;
            }

            .cancel:hover{
                scale: 110%;
                cursor: pointer;
            }

            button:disabled {
                background-color: $palette-color-four;
                color: $palette-color-three;
            }
        }

        .container-body {
            width: 100%;
            margin-top: 1rem;

            .container-inputs{
                display: flex;
                justify-content: right;

                mat-form-field {
                    margin: 1rem;
                    width: 50%;

                    mat-icon {
                        color: $palette-color-three;
                    }

                    mat-error {
                        margin-top: .5rem;
                    }
                }

            }
            mat-slide-toggle {
                margin-left: 1rem;
            }

        }
    }

    .table {
        margin-left: 1rem;
        margin-top: 1rem;
        width: 30%;
        height: 400px;

        table {
            width: 100%;
            flex-grow: 1;

            td:hover{
                cursor: pointer;
            }
        }

        mat-form-field{
            width: 100%;
        }
    }
}

@media (max-width: 980px) {
    .main-container {
        display: flex;
        flex-direction: row;

        .container-body {
            width: 40%;
            margin: 0;

            .container-inputs {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 1rem;

                mat-form-field {
                    margin: 1rem;
                    width: 90%;

                    mat-icon {
                        color: $palette-color-three;
                    }

                    mat-error {
                        margin-top: .5rem;
                    }
                }
            }


            .buttons {
                margin-top: 1rem;

                button {
                    width: 30%;
                    font-size: $font-size-button-resposive;
                }
            }

        }

        .table {
            width: 60%;
        }
    }
}

@media (max-width: 640px) {
    .main-container {
        display: flex;
        flex-direction: row;

        .parking-form {
            margin: .5rem;

            .container-body {
                width: 95%;
                margin-right: 1rem;
                margin-left: 1rem;

                .container-inputs {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;

                    mat-form-field {
                        margin: 1rem;
                        width: 90%;

                        mat-icon {
                            color: $palette-color-three;
                        }

                        mat-error {
                            margin-top: .5rem;
                        }
                    }
                }


                .buttons {
                    margin-top: 1rem;

                    button {
                        width: 40%;
                        font-size: 23px;
                    }
                }

            }
        }


        .table {
            width: 50%;
        }
    }
}

@media (max-width: 400px) {
    .main-container {
        display: flex;
        flex-direction: column-reverse;

        .parking-form {
            margin: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .container-body {
            width: 100%;
            margin: 0;

            .container-inputs {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 1rem;

                mat-form-field {
                    margin: 1rem;
                    width: 90%;

                    mat-icon {
                        color: $palette-color-three;
                    }

                    mat-error {
                        margin-top: .5rem;
                    }
                }
            }


            .buttons {
                margin-top: 1rem;

                button {
                    width: 40%;
                    font-size: 23px;
                }
            }

        }

        .table {
            width: 100%;
            margin: .5rem;
        }
    }
}
