@import "../../../../assets/sass/variables";

:host {
  height: $host-param-height;
  width: $host-param-width;
  display: $host-display;
}

.principal-container{
  width: 100%;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.container-info{
  width: 100%;
}

.input-profile{
  width: 90%;
}


.table{
  width: 20%;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;

  .container-list{
    width: auto;
    margin-top: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.container-form{
  background-color: $palette-color-four;
  max-width: 90%;
  height: 80%;
  padding: 1rem;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;

  mat-form-field{
    width: 95%;
    margin-bottom: 1rem;

    mat-error{
      margin-top:.5rem;
    }
  }
  .btnUpdate{
    background-color: $palette-color-three;
    color: white;
    width: auto;
    font-size: 12px
}


  .toggle-container{
    display: flex;
    flex-direction: column;


    mat-slide-toggle{
      margin: .8rem;
    }
  }

  button{
    width: 15%;
    background-color: $palette-color-one;
    color: $palette-color-three;
    border: $button-border;
    font-weight: $font-weight-button;
    font-size: $font-size-button;
    padding: $button-padding;
    line-height: $button-line-height;
    border-radius: $button-radius;
    transition: $button-transition;
    margin-bottom: $button-mgb;
    margin-left: 1rem;
    font-family: $font-primary;
    margin-top: $button-mgt;
  }
}


@media only screen and (max-width: 760px) {
  .principal-container {
    .main-container {
      align-items: stretch;

      .table {
        width: 100%;
        margin-top: 1vh;
      }

      .container {
        flex-direction: column;
        .form-container {
          width: 100%;
        }
      }
    }
  }
}



@media only screen and (max-width: 300px) {
  .principal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .main-container{
      display: flex;
      flex-direction: column;
      .form-container{
        width: 98%;
      }
      .form-row{
        display: flex;
        flex-direction: column;
      }
      .save-button{
        margin: 2vh;
      }
    }
  }
}
