@import "../../../../assets/sass/variables";

:host {
  height: $host-param-height;
  width: $host-param-width;
  display: $host-display;
}

.principal-container{
  width: 100%;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.container-info{
  width: 100%;
}

.input-profile{
  width: 90%;
}


.table{
  width: 80%;
  display: flex;
  margin-top: 1vh;
  flex-direction: column;
  margin-left: 3rem;
  border-radius: 10px;

  .container-list{
    width: 80%;
    height: 70%;
    margin-top: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}

.container-form{
  border-radius: 10px;
  width: 60%;
  height: 90%;
  background-color: $color-white;

  max-width: 90%;
  padding: 1rem 1rem 0;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;

  mat-form-field{
    width: 95%;
    margin-bottom: 1rem;

    mat-error{
      margin-top:.5rem;
    }
  }
  .btnUpdate{
    background-color: $palette-color-one;
    color: $palette-color-three;
    width: auto;
    font-size: 12px
}


  .toggle-container{
    display: flex;
    flex-direction: column;


    mat-slide-toggle{
      margin: .8rem;
    }
  }

  button{
    width: 15%;
    background-color: $palette-color-one;
    color: $palette-color-three;
    border: $button-border;
    font-weight: $font-weight-button;
    font-size: $font-size-button;
    padding: $button-padding;
    line-height: $button-line-height;
    border-radius: $button-radius;
    transition: $button-transition;
    margin-bottom: $button-mgb;
    margin-left: 1rem;
    font-family: $font-primary;
    margin-top: $button-mgt;
  }
}


@media only screen and (max-width: 760px) {
  .principal-container {
    .main-container {


      .table {
        width: 100%;
        margin-top: 5vh;
      }

      .container {
        flex-direction: column;
        .form-container {
          width: 100%;
        }
      }
    }
  }
}



@media only screen and (max-width: 300px) {
  .principal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .main-container{
      display: flex;
      flex-direction: column;
      .form-container{
        width: 98%;
      }
      .form-row{
        display: flex;
        flex-direction: column;
      }
      .save-button{
        margin: 2vh;
      }
    }
  }
}

@import "../../../../assets/sass/variables";

.content{
  width: 100%;
}

.container {
  display: flex;
  padding: 0;
  margin: 20px;
  font-family: $font-primary;
  width: 90%;

  .table {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
  }

  .table-usuarios {

  }

  .table-register{
    background-color: $color-white;
    padding: 4vh;
    width: 70%;
    height: 55vh;
    margin-top: 20px;
    border-radius: 10px;

  }
  .filter{
    width: 100%;
    display: flex;
  }

  .Navbar-container {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    app-navbaruser {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

    }
  }
}


@media only screen and (max-width: 900px) {
  .container-form {
      #height: 80%;
    }
}
@media only screen and (max-width: 800px) {
  .container-form {
      #height: 80%;
    }
}

@media only screen and (max-width: 660px) {
  .container-form {
      border-radius: 10px;
      #height: 80%;
  }
}
@media only screen and (max-width: 647px) {
  .container-form {
      #height:80%;
    width: 40%;
  }
}

@media only screen and (max-width: 350px) {
  .container-form {
    #height:80%;
    #width: 30%;
  }
}
