@import "../../../../../assets/sass/variables";

::ng-deep .mat-mdc-form-field {
  --mdc-filled-text-field-container-color: transparent;
  --mdc-filled-text-field-label-text-color: #76ABAE;
  --mdc-filled-text-field-label-text-fonr: "Cabin";
  --mdc-filled-text-field-input-text-placeholder-color:#31363F;
}

::ng-deep .mat-mdc-slide-toggle .mdc-form-field {
  color: #76ABAE;
  font-family: "Cabin", 'Courier New', Courier,monospace;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-track-color: #76ABAE;
  --mdc-switch-selected-handle-color: #76ABAE;
  --mdc-switch-selected-focus-handle-color: #76ABAE;
  --mdc-switch-selected-hover-handle-color: #76ABAE;
  --mdc-switch-selected-hover-track-color: #76ABAE;
  --mdc-switch-selected-focus-track-color:#76ABAE;
}
.container-users {
  padding-top: 2rem;
  border-radius: 8px;
  width: 80%;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  font-family: $font-primary;
}
.container-inputs{
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}
.container-buttons{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.input-small {
  width: 50%;
  margin: 10px 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.mat-form-field {
  flex: 1;
  max-width: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

.profile-select {
  width: 50%;
  margin: 10px 10px;
}

.full-width {
  width: 100%;
}

.guardar {
  background-color: $palette-color-three;
  color: $palette-color-four;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  text-transform: uppercase;
  width: 20%;
  margin-left: 0;
  margin-right: 10px;
  align-self: flex-end;
}
.cancelar {
  background-color: #a02334;
  color: $palette-color-four;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  text-transform: uppercase;
  width: 20%;
  margin-left: 0;
  margin-right: 10px;
  align-self: flex-end;
}

.guardar:hover {
  cursor: pointer;
}

.cancelar:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1300px) {
  .container-users {
    width: 90%;
    padding: 1rem;
    margin: 0 1rem;
  }
  .container-buttons {
    display: flex;
    height: 100%;
  }

  h2 {
    font-size: 1.25rem;
  }

  .form-group {
    flex-direction: column;
    gap: 0.5rem;
    width: 75%;
  }

  .mat-form-field {
    max-width: 100%;
    width: 98%;
    margin-bottom: 1rem;
  }

  .profile-select {
    max-width: 100%;
    width: 50%;
  }

  .guardar {
    width: 35%;
    margin-left: 0;
    align-self: flex-end;
  }

  .cancelar {
    width: 35%;
    margin-left: 0;
    margin-right: 10px;
    align-self: flex-end;
  }
  .toogle{
    width: 50%;
    margin-left: 0;
    margin-right: auto;
    align-self: flex-end;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1180px) {
  .container-users {
    padding: 1rem;
    margin: 0 1rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .form-group {
    flex-direction: column;
    gap: 0.5rem;
    width: 75%;
  }

  .mat-form-field {
    max-width: 100%;
    width: 98%;
    margin-bottom: 1rem;
  }

  .profile-select {
    max-width: 100%;
    width: 50%;
   }

  .guardar {
    width: 35%;
    margin-left: 0;
    align-self: flex-end;
  }

  .cancelar {
    width: 35%;
    margin-left: 0;
    margin-right: 10px;
    align-self: flex-end;
  }
}

@media only screen and (max-width: 850px) {
  .container-users {
    width: 80%;
    padding: 1rem;
    font-size: 1rem;
  }
  .container-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .input-small{
      width: 100%
    }
  }
  .container-buttons{
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }

  .form-group {
    flex-direction: column;
  }

  .mat-form-field {
    width: 98%;
    margin-bottom: 1rem;
  }

  .profile-select {
    width: 98%;
  }

  .guardar {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
    align-self: flex-end;
    margin-bottom: 10px;

  }
  .cancelar {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
    align-self: flex-end;
    margin-bottom: 10px;
  }
  .toogle{
    width: 50%;
    margin-left: 0;
    margin-right: auto;
    align-self: flex-end;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .container-users {
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .mat-form-field {
    width: 98%;
  }

  .profile-select {
    width: 98%;
  }

  .guardar {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
    align-self: flex-end;
  }
  .cancelar {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
    align-self: flex-end;
    margin-bottom: 10px;

  }
}

@media only screen and (max-width: 568px) {
  .mat-form-field {
    max-width: 98%;
  }

  .profile-select {
    max-width: 98%;
  }


  .guardar {
    padding: 0.4rem 0.8rem;
  }
  .cancelar {
    padding: 0.4rem 0.8rem;
  }
}

@media only screen and (max-width: 1300px) {
  .mat-form-field {
    max-width: 90%;
  }

  .profile-select {
    max-width: 90%;
  }
}
