
.Navbar-container {
  width: 100%;
  min-width: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 2vh;

  app-navbaruser {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

  }
}

.principal-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
.table-container{
  width: 95%;
  margin-top: 2vh;
  .table-data{
    width: 80%;
  }
  table {
    width: 100%;

    td, th {
      width: 15%;
      font-size: 12px;
    }
  }
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.nav {
  border: 1px solid #76ABAE;
  background-color: white;
  width: 95%;
  height: 10%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row
}

.filter {
  max-width: 30vh;
  align-items: center;
  justify-content: center;
  margin: 3vh;
}

.example-container {
  width: 100%;
  height: 80px;
  border: 1px solid transparent;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu {
  background-color: transparent;
  border: 1px solid #76ABAE;
  height: 7vh;
  .menu-item :hover{
    border: 1px solid #76ABAE;
    height: 6vh;
  }
}

.input-search{
  max-width: 80%;
}
@media only screen and (max-width: 1150px) {
  .principal-container{
    align-items: center;
    width: 100%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;

    .filter{
      max-width: 100%;
      margin: 1vh;
      .example-container {
        width: 90%;
        height: 80px;
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  .principal-container {
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    padding: 0;

    .filter {
      max-width: 100%;
      margin: 1vh 0;
      .example-container {
        width: 100%;
        height: auto;
      }
    }
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
  }

  .mat-elevation-z8 {
    min-width: 300px;
  }

  .mat-column-id, .mat-column-entity {
    display: none;
  }

  .mat-cell, .mat-header-cell {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
}
