<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="content">

  <div>
    <app-navbaruser></app-navbaruser>
  </div>

  <div class="container">
    <div class="pruebaResponsiva">
      <app-filter-user></app-filter-user>
      <app-table-users [users]="users" [itemsPerPage]="7" (pageChange)="onPageChange($event)"></app-table-users>

    </div>

    <div class="table-usuarios">
      <app-add-users></app-add-users>
    </div>
  </div>
</div>
</body>
</html>
