
.container {
  display: flex;
  padding: 0;
  margin: 40px;

  .pruebaResponsiva {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    margin-right: 20px;
  }

  .table-usuarios {
    border-radius: 10px;
    width: 70%;
    background-color: #FFFFFF;
  }

  .table-register{
    background-color: #FFFFFF;
    padding: 4vh;
    width: 90%;
    height: 600px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .filter{
    width: 100%;
  };
}

.Navbar-container {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  app-navbaruser {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

  }

  @media (max-width: 1180px) {
    .container {
      .pruebaResponsiva {
        height: 10%; // Cambia la altura a 10% en pantallas más pequeñas
      }
    }
  }
}


