.container {
  display: flex;
  padding: 0;
  margin: 20px;

  .pruebaResponsiva {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
  }

  .table-usuarios {
    width: 70%;
    background-color: #FFFFFF;
  }

  .table-register{
    background-color: #FFFFFF;
    padding: 4vh;
    width: 90%;
    height: 140%;
  }
  .filter{
    width: 100%;
  };
}

.Navbar-container {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  app-navbaruser {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

  }
}
