<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>
</head>
<body>

<div class="content">
  <div class="Navbar-container">
    <app-navbaruser title="Users"></app-navbaruser>
  </div>

  <div class="container">
    <div class="pruebaResponsiva">
      <app-filter-user class="filter"></app-filter-user>
      <app-table-users class="table-register"
        [users]="users"
        [itemsPerPage]="7"
        (pageChange)="onPageChange($event)">
      </app-table-users>
    </div>

    <div class="table-usuarios">
      <app-add-users (userCreated)="onUserCreated($event)"></app-add-users>
    </div>
  </div>
</div>

</body>
</html>
