@import "../../../../assets/sass/variables";

.container {
  display: flex;
  font-size: 0.95rem;
  padding: 0.85rem 1rem;
  margin: 20px;
  font-family: $font-primary;
  flex-wrap: wrap;

  .table {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    max-width: 450px;
    min-width: 20vh;
  }

  .table-usuarios {
    border-radius: 10px;
    background-color: $color-white;
    margin-left: 10px;
    flex: 1;
  }

  .table-register {
    background-color: $color-white;
    padding: 4vh;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 50vh;
    margin-right: 10px;
    flex: 1;
    max-width: calc(100% - 50px);
  }

  .filter {
    width: 100%;
    max-width: 450px;
    display: flex;
    height: auto;
  }

  .Navbar-container {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    app-navbaruser {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;

    .table {
      width: 100%;
    }

    .table-usuarios {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 0;
    }

    .table-register {
      width: 100%;
      margin-top: 0;
    }
  }
}
