@import "../../../../assets/sass/variables";

.container {
  display: flex;
  padding: 0;
  margin: 20px;
  font-family: $font-primary;

  .table {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    min-width: 20vh;
  }

  .table-usuarios {
    border-radius: 10px;
    width: 60%;
    background-color: $color-white;
  }

  .table-register{
    background-color: $color-white;
    padding: 4vh;
    width: 20vh;
    height: 80%;
    margin-top: 20px;
    border-radius: 10px;
    min-height: 50vh;
  }
  .filter{
    width: 100%;
    display: flex;
}

.Navbar-container {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  app-navbaruser {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

  }
}
  @media (max-width: 1200px) {
    font-size: 0.875rem; /* Aumentado */
    padding: 0.75rem 1rem;
    .table-register {
      width: 17vh;
    }
  }
  @media (max-width: 1100px) {
    font-size: 0.875rem; /* Aumentado */
    padding: 0.75rem 1rem;
    .table-register {
      width: 15vh;
    }
  }
  @media (max-width: 980px) {
    font-size: 0.875rem; /* Aumentado */
    padding: 0.75rem 1rem;
    .table-register {
      width: 12vh;
    }
  }
  @media (max-width: 880px) {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    .table-register {
      width: 11vh;

    }
    .table {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: auto;
    }
    .container{
      margin: 0;
    }
    .guardar{
      margin: 0;
    }
    .able-usuarios{
      height: auto;
    }
  }
  @media (max-width: 760px) {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    .table-register {
      width: 7vh;
    }
  }
  @media (max-width: 660px) {
    font-size: 0.42rem;
    padding: 0.75rem 1rem;
    .table-register {
      width: 5vh;
    }
  }
}


