@import "../../../../assets/sass/variables";

.container {
  display: flex;
  font-size: 0.95rem;
  padding: 0.85rem 1rem;
  margin: 20px;
  font-family: $font-primary;
  flex-wrap: wrap; // Permite que los elementos se envuelvan cuando no hay suficiente espacio

  .table {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    max-width: 250px;
    min-width: 20vh;
  }

  .table-usuarios {
    border-radius: 10px;
    background-color: $color-white;
    margin-left: 10px; // Mueve la tabla de usuarios hacia la derecha
    flex: 1; // Permite que esta tabla crezca según el espacio disponible
  }

  .table-register {
    background-color: $color-white;
    padding: 4vh;
    height: auto; // Ajusta la altura automáticamente
    margin-top: 20px;
    border-radius: 10px;
    min-height: 50vh;
    margin-right: 10px; // Agrega un margen a la derecha para la separación deseada
    flex: 1; // Permite que esta tabla también crezca según el espacio disponible
    max-width: calc(100% - 50px); // Asegura que la tabla no exceda el ancho del contenedor menos el margen
  }

  .filter {
    width: 100%;
    display: flex;
    height: auto; // Asegúrate de que la altura se ajuste según el contenido
  }

  .Navbar-container {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    app-navbaruser {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
    }
  }

  // Media query para 500px o menos
  @media (max-width: 500px) {
    flex-direction: column;

    .table {
      width: 100%;
    }

    .table-usuarios {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 0; // Elimina el margen izquierdo en pantallas pequeñas
    }

    .table-register {
      width: 100%;
      margin-top: 0;
    }
  }
}
