<div class="Navbar-container">
  <app-navbaruser class="app-nav" title="Report"></app-navbaruser>
</div>
<div class="principal-container">
  <div class="nav">
    <div class="filter">
      <mat-form-field class="example-container input-search">
        <mat-icon matPrefix class="icon-inputs">garage_home</mat-icon>
        <mat-label>{{ 'REPORT.IDPARKING' | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedParkingId" required>
          <mat-option value="" disabled>{{ 'REPORT.SPARKING' | translate }}</mat-option>
          <mat-option *ngFor="let content of parking" [value]="content.parkingId">
            {{ content.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="filter">
      <mat-form-field class="example-container input-search">
        <mat-label>{{ 'REPORT.START_DATE' | translate }}</mat-label>
        <input matInput [matDatepicker]="startPicker" (dateChange)="applyParkingAndDateRangeFilter()" [(ngModel)]="startDate">
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="filter">
      <mat-form-field class="example-container input-search">
        <mat-label><mat-label>{{ 'AUDIT.END_DATE' | translate }}</mat-label></mat-label>
        <input matInput [matDatepicker]="endPicker" (dateChange)="applyParkingAndDateRangeFilter()" [(ngModel)]="endDate">
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <button (click)="applyParkingAndDateRangeFilter()">
        <mat-icon>
          <span class="material-symbols-outlined">
            search
          </span>
        </mat-icon>
      </button>
      <button (click)="generatePdfReport()">
        <mat-icon>
          <span class="material-symbols-outlined">
            picture_as_pdf
          </span>
        </mat-icon>
      </button>
    </div>

  </div>

  <div class="table-container">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Columna Plate -->
        <ng-container matColumnDef="plate">
          <th mat-header-cell *matHeaderCellDef><mat-label>{{ 'REPORT.PLATE' | translate }}</mat-label></th>
          <td mat-cell *matCellDef="let row"> {{row.plate}} </td>
        </ng-container>

        <!-- Columna StartDate -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef><mat-label>{{ 'REPORT.START_DATE' | translate }}</mat-label></th>
          <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>{{ 'REPORT.END_DATE' | translate }}</th>
          <td mat-cell *matCellDef="let row"> {{row.endDate}} </td>
        </ng-container>

        <!-- Columna Solicitud -->
        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef>{{ 'REPORT.MORE' | translate }}</th>
          <td mat-cell *matCellDef="let row">
            <button mat-button (click)="onMoreClick(row.registerId)">{{ 'REPORT.MORE' | translate }}</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!--<tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">{{ 'NO_DATA' | translate }} "{{input.value}}"</td>
        </tr>-->
      </table>
      <mat-paginator
        class="paginator"
        [length]="totalElements"
        [pageSize]="itemsPerPage"
        [pageIndex]="currentPage"
        (page)="changePage($event)">
      </mat-paginator>
    </div>
  </div>

<!---->
  <app-card-reporter *ngIf="showCard" class="app-card-auditory" [data]="reportData" (closeCard)="closeCard()"></app-card-reporter>
</div>
