.list-group {
    width: 100%;
  
    .list-group-item {
      font-size: 1rem;
  
      @media (max-width: 766px) {
        font-size: 0.675rem;
      }
  
      @media (max-width: 768px) {
        padding: 2rem 0;
        padding: 1rem;
      }
  
      @media (min-width: 769px) {
      }
    }
  }
  
  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  
    .page-item {
      margin: 0 0.5rem;
  
      .page-link {
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #007bff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
  
        &:hover {
          background-color: #e9ecef;
        }
      }
      @media (max-width: 991px) {
        margin: 0 0.25rem;
  
        .page-link {
          font-size: 0.675rem;
          padding: 0.5rem;
        }
      }
      @media (max-width: 768px) {
        margin: 0 0.25rem;
  
        .page-link {
          font-size: 0.675rem;
          padding: 0.5rem;
        }
      }
  
  
    }
  }