@import "../../../../assets/sass/variables";

::ng-deep .mat-mdc-form-field {
  --mdc-filled-text-field-container-color: transparent;
  --mdc-filled-text-field-label-text-color: #76ABAE;
  --mdc-filled-text-field-label-text-font: "Cabin";
  --mdc-filled-text-field-input-text-placeholder-color: #31363F;
}

.content-register {
  width: 60%;
  height: 70vh;
  display: $host-display;
  align-items: $host-align-items;
  flex-direction: $host-flex-direction;
  font-family: $font-primary;
  background-color: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2rem;

  @media (max-width: 768px) {
    width: 90%;
    height: auto;
    padding: 1rem;
  }
}

.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  width: 100%;

  mat-form-field {
    width: 65%;
    margin-bottom: 1.5rem;

    .icon-inputs {
      color: $palette-color-three;
    }

    mat-error {
      margin-top: 0.5rem;
    }
  }

  header {
    width: 100%;
    text-align: $text-position;

    h1 {
      align-self: flex-start;
      margin: 0;
      padding: 1rem;
    }

    h3 {
      color: $text-color-header;
      margin: 0.5rem;
    }

    strong {
      cursor: pointer;
      color: $palette-color-one;
    }
  }
}

.btnAgregarParqueo, .btnSalidaParqueo {
  width: 40%;
  justify-content: $button-justify;
  align-items: $button-align;
  border: $button-border;
  padding: $button-padding;
  border-radius: $button-radius;
  transition: $button-transition;
  font-family: $font-primary;
  margin-top: $button-mgt;
  margin-right: 1rem;

  &.btnSalidaParqueo {
    margin-right: 0;
  }

  mat-icon {
    margin-left: $button-icon-mgl;
  }

  &.btnAgregarParqueo {
    background-color: $palette-color-three;
    color: $palette-color-four;
  }

  &.btnSalidaParqueo {
    background-color: #a02334;
    color: $palette-color-four;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  width: 50%;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    align-items: center;

    button {
      margin-bottom: 1rem;
      margin-right: 0;
      width: 80%;
    }

    .btnSalidaParqueo {
      margin-bottom: 0;
    }
  }
}
