@import "../../../../assets/sass/variables";

::ng-deep .mat-mdc-form-field {
  --mdc-filled-text-field-container-color: transparent;
  --mdc-filled-text-field-label-text-color: #76ABAE;
  --mdc-filled-text-field-label-text-fonr: "Cabin";
  --mdc-filled-text-field-input-text-placeholder-color:#31363F;
}

.content-register {
  width: 60%;
  height: 70vh;
  display: $host-display;
  align-items: $host-align-items;
  flex-direction: $host-flex-direction;
  font-family: $font-primary;
  background-color: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2rem;
}

.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  width: 100%;

  mat-form-field {
    width: 65%;
    margin-bottom: 1.5rem;

    .icon-inputs {
      color: $palette-color-three;
    }

    mat-error {
      margin-top: .5rem;
    }
  }

  header {
    width: 100%;
    text-align: $text-position;

    h1 {
      align-self: flex-start;
      margin: 0;
      padding: 1rem;
    }

    h3 {
      color: $text-color-header;
      margin: 0.5rem;
    }

    strong {
      cursor: pointer;
      color: $palette-color-one;
    }
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  width: 50%;
}

.btnSubmit {
  width: 100%;
  background-color: $palette-color-three;
  color: $palette-color-four;
  border: $button-border;
  font-weight: $font-weight-button;
  font-size: $font-size-button;
  padding: $button-padding;
  line-height: $button-line-height;
  border-radius: $button-radius;
  transition: scale .2s ease-in-out;
  margin-bottom: $button-mgb;
  margin-left: 1rem;
  font-family: $font-primary;
  margin-top: $button-mgt;
  line-height: 1;
}

button:hover {
  scale: 110%;
  cursor: pointer;
}

.cancel {
  background-color: #A02334;
  color: $palette-color-four;
  border: $button-border;
  font-weight: $font-weight-button;
  font-size: $font-size-button;
  padding: $button-padding;
  line-height: $button-line-height;
  border-radius: $button-radius;
  transition: scale .2s ease-in-out;
  margin-bottom: $button-mgb;
  margin-left: 1rem;
  font-family: $font-primary;
  margin-top: $button-mgt;
}

.cancel:hover {
  scale: 110%;
  cursor: pointer;
}