.principal-container {
  position: relative;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2vh;
  flex-wrap: wrap;
  transform: translate(200px, 200px);
}

.table {
  width: 60%;
  box-sizing: border-box;
}

.container {
  width: 38%;
  box-sizing: border-box;
}

.form-container {
  border: 1px solid whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 2vh;
  margin-bottom: 2vh;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 2vh;
}

.save-button {
  background-color: black;
  border-radius: 0.5vh;
  color: aliceblue;
  width: 8vh;
  height: 4vh;
  margin-left: 1vh;
}

.permissions-container {
  margin: 4vh 0;
  width: 100%;
}

@media only screen and (max-width: 1050px) {
  .main-container {
    flex-direction: column;
    gap: 2vh;
  }

  .table,
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .main-container {
    flex-direction: column;
  }

  .table,
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .main-container {
    flex-direction: column;
    gap: 2vh;
  }

  .form-row {
    flex-direction: column;
  }

  .table,
  .container {
    width: 100%;
  }

  .save-button {
    margin-top: 2vh;
    width: 100%;
  }
}
