<div class="principal-container">
  <app-navbaruser [title]="'PROFILES' | translate"></app-navbaruser>
  <div class="main-container">
    <div class="table">
      <app-filter-user></app-filter-user>
      <div class="container-list">
      </div>
    </div>

    <div class="container">
      <div class="form-container">
        <h1>{{ 'ADD_PROFILE' | translate }}</h1>
        <div class="form-row">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>{{ 'EMAIL' | translate }}</mat-label>
              <input
                type="email"
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
                placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}"
              />
            </mat-form-field>
          </form>
          <button class="save-button">
            {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>

      <div class="form-container">
        <h1>{{ 'CONFIGURATION' | translate }}</h1>
        <div class="permissions-container">
          <h1>{{ 'MANAGE_PERMISSIONS' | translate }}</h1>

          <mat-slide-toggle class="toggle" [formControl]="usersControl">
            {{ 'USERS' | translate }}
          </mat-slide-toggle>

          <mat-slide-toggle class="toggle" [formControl]="profileControl">
            {{ 'PROFILE' | translate }}
          </mat-slide-toggle>

          <mat-slide-toggle class="toggle" [formControl]="parkingControl">
            {{ 'PARKING' | translate }}
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
