<div class="main-container">
  <div class="list-container"></div>

  <div class="container">
    <h2>{{ 'TITLE_ADD' | translate }}</h2>
    <form class="form-container" [formGroup]="userForm">
      <div class="form-group">
        <mat-form-field appearance="outline" class="input-small">
          <mat-label>{{ 'FORM_NAME_LABEL' | translate }}</mat-label>
          <input class="escritos" matInput formControlName="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-small">
          <mat-label>{{ 'FORM_SURNAME_LABEL' | translate }}</mat-label>
          <input class="escritos" matInput formControlName="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-small">
          <mat-label>{{ 'FORM_AGE_LABEL' | translate }}</mat-label>
          <input class="escritos" matInput formControlName="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-small">
          <mat-label>{{ 'FORM_EMAIL_LABEL' | translate }}</mat-label>
          <input class="escritos" matInput formControlName="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-small">
          <mat-label>{{ 'FORM_DPI_LABEL' | translate }}</mat-label>
          <input class="escritos" matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-small">
          <mat-label>{{ 'FORM_PASSWORD_LABEL' | translate }}</mat-label>
          <input class="escritos" matInput formControlName="name" required />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="profile-select">
        <mat-label>{{ 'FORM_PROFILE_LABEL' | translate }}</mat-label>
        <mat-select formControlName="profile" required>
          <mat-option value="admin">{{ 'PROFILE_ADMIN' | translate }}</mat-option>
          <mat-option value="user">{{ 'PROFILE_USER' | translate }}</mat-option>
          <mat-option value="guest">{{ 'PROFILE_GUEST' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" class="guardar">
        {{ 'BUTTON_SAVE' | translate }}
      </button>
    </form>
  </div>
</div>
