.container {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 8px;
  max-width: 900px;
  width: 75vh;
  margin: 0 auto;
  margin-left: 70px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.mat-form-field {
  flex: 1;
  width: 500px;
}

.profile-select {
  width: 150px;
}

.full-width {
  width: 100%;
}

.guardar {
  background-color: #31363F;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  width: 95%;
}

.guardar:hover {
  background-color: #272b33;
}


.reduced-width {
  width: 100px;
}

@media only screen and (max-width: 980px) {
  .container {
    padding: 1rem;
    margin: 0 1rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .form-group {
    flex-direction: column;
    gap: 0.5rem;
    width: 75%;
  }

  .mat-form-field {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .profile-select {
    width: 45%;
  }

  .guardar {
    width: 75%;
    float: none;
  }
}



@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
    padding: 1rem;
  }

  .form-group {
    flex-direction: column;
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .profile-select {
    width: 100%;
  }

  .guardar {
    width: 100%;
    float: none;
    background-color: #31363F
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .mat-form-field {
    width: 100%;
  }

  .profile-select {
    width: 100%;
  }

  .guardar {
    width: 100%;
    float: none;
  }
}
