$palette-color-three: #76ABAEFF;
$palette-color-four: #ffffff;
::ng-deep .mat-mdc-form-field {
  --mdc-filled-text-field-container-color: transparent;
  --mdc-filled-text-field-label-text-color: #76ABAE;
  --mdc-filled-text-field-label-text-fonr: "Cabin";
  --mdc-filled-text-field-input-text-placeholder-color: #31363F;
}
::ng-deep .mat-mdc-slide-toggle .mdc-form-field {
  color: #76ABAE;
  font-family: "Cabin", 'Courier New', Courier, monospace;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-track-color: #76ABAE;
  --mdc-switch-selected-handle-color: #76ABAE;
  --mdc-switch-selected-focus-handle-color: #76ABAE;
  --mdc-switch-selected-hover-handle-color: #76ABAE;
  --mdc-switch-selected-hover-track-color: #76ABAE;
  --mdc-switch-selected-focus-track-color: #76ABAE;
}
.container-principal{
    width: auto;
    height: 90%;
    padding: 0% 5%;
    display: flex;
  /* width: 100%;
    height: 70%;
    padding: 0%;*/
}
.paginator {
  flex-direction: column;
  padding: 10px;
}
.form-fare {
  margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    height: 97%;
    background-color: white;
    padding: 2vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4vh;

  .button-container{
    width: 95%;
    justify-content: space-evenly;
  }
  .guardar {
    background-color: $palette-color-three;
    color: $palette-color-four;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    text-transform: uppercase;
    width: 40%;
    align-self: center;
  }
  .cancelar {
    background-color: #a02334;
    color: $palette-color-four;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    text-transform: uppercase;
    width: 40%;
    align-self: center;
  }
}

.input-container {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    gap: 2px;
}

.input-small {
    width: 40%;
}

.mat-form-field {
    width: 100%;
}

.table-fare{
    max-height: 85%;
    height: auto;
    margin-right: 2vh;
}
@media (max-width: 950px) {
  .table-fare{
    height: auto;
    margin-right: 2vh;
  }
  .paginator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-width: 50%;
  }/*
  .form-fare{
    width: 70%;
    margin-left: 5%;
  }*/
}

@media (max-width: 760px) {
  .table-fare{
    padding: 0;
    margin-right: 10%;
  }
  .container-principal{
    padding: 0 5%;
    flex-direction:column-reverse ;
    height: auto;
  }
  h2{
    margin-bottom: 1vh;
  }
  .input-container{
    margin-bottom: 0px;
  }
  .input-small{
    width: 95%;
    margin-bottom: 0px;
  }
  .guardar{
    font-size: 12px;
    margin: 0px;
    width: 100%;
  }
  .cancelar{
    font-size: 12px;
    margin: 0px;
    width: 100%;
  }
  .form-fare{
    width: 95%;
  }
  .table-fare{
    margin-top: 5px;
    width: 99%;
  }
  .app-fare-table{
    width: 60%;
  }
}

@media (max-width: 470px){

  .container-principal{
    width: 93%;
    padding: 0 3%;
    flex-direction:column-reverse ;
    height: auto;
  }
  h2{
    margin-bottom: 1vh;
  }
  .input-container{
    margin-bottom: 0px;
  }
  .input-small{
    width: 95%;
    margin-bottom: 0px;
  }
    .guardar{
      font-size: 12px;
      margin: 0px;
      width: 100%;
    }
    .cancelar{
      font-size: 12px;
      margin: 0px;
      width: 100%;
    }
    .form-fare{
        width: 93%;
        margin: 0
    }
  .table-fare{
    margin-top: 5px;
    width: 100%;
  }
  .app-fare-table{
    width: 60%;
  }
}

@media (max-width: 405px){
  .form-fare{
    width: 93%;
    display: block;
  }
}
