<p>{{ 'AUDIT_WORKS' | translate }}</p>

<div class="nav">
  <div class="filter">
    <mat-form-field class="example-container">
      <mat-label>{{ 'FILTER' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'FILTER_BY_ENTITY' | translate }}" #input>
    </mat-form-field>
  </div>
  <div class="filter">
    <mat-form-field class="example-container">
      <mat-label>{{ 'SELECT_OPTION' | translate }}</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="applyFilter($event)">
        <mat-option value="">{{ 'NONE' | translate }}</mat-option>
        <mat-option value="User">{{ 'USER' | translate }}</mat-option>
        <mat-option value="option2">{{ 'OPTION_2' | translate }}</mat-option>
        <mat-option value="option3">{{ 'OPTION_3' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter">
    <mat-form-field class="example-container">
      <mat-label>{{ 'FILTER' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
      <mat-datepicker #picker></mat-datepicker>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>
  </div>
</div>

<div class="">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Columna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ID' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Columna Entidad -->
      <ng-container matColumnDef="entity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ENTITY' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{row.entity}} </td>
      </ng-container>

      <!-- Columna Cambio -->
      <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CHANGE' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{row.change}} </td>
      </ng-container>

      <!-- Columna Fecha -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DATE' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">{{ 'NO_DATA' | translate }} "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" attr.aria-label="{{ 'PAGINATOR_ARIA_LABEL' | translate }}"></mat-paginator>
  </div>
</div>
