<mat-toolbar class="Nabvar">
  <span>{{ title }}</span>
  <span class="Nabvar"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Nabvar icon-button with options">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button mat-menu-item>
      <span routerLink="/admin/auditory"><mat-icon>library_books</mat-icon>
         {{ 'NAVBAR_USER.AUDITORIA' | translate }}</span>
    </button>

    <button mat-menu-item>
      <span routerLink="/admin/profiles"><mat-icon>group</mat-icon>
        {{ 'NAVBAR_USER.PROFILES' | translate }}</span>
    </button>

    <button mat-menu-item>
      <span routerLink="/admin/users"><mat-icon>person</mat-icon>
        {{ 'NAVBAR_USER.USERS' | translate }}</span>
    </button>

    <button mat-menu-item (click)="openLogoutDialog()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'MENU.LOGOUT' | translate }}</span>
    </button>
    <mat-form-field>
      <mat-label>{{ 'LANGUAGE' | translate }}</mat-label>
      <mat-select [(value)]="currentLanguage" (selectionChange)="onLanguageChange($event.value)">
        <mat-option *ngFor="let option of languages" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-menu>
</mat-toolbar>
