<mat-toolbar class="Nabvar">
  <span>{{ title }}</span>
  <span class="Nabvar"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" title="Nabvar icon-button with options">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/admin/auditory">
      <span><mat-icon>library_books</mat-icon>
        {{ 'NAVBAR_USER.AUDITORIA' | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/admin/reporte">
      <span><mat-icon>lab_profile</mat-icon>
        {{ 'NAVBAR_USER.AUDITORIA' | translate }}</span>
    </button>

    <button mat-menu-item routerLink="/admin/register">
      <span><mat-icon>garage_home</mat-icon>
        {{ 'Registro de parqueos' | translate }}</span>
    </button>

    <button mat-menu-item routerLink="/admin/profiles">
      <span><mat-icon>group</mat-icon>
        {{ 'NAVBAR_USER.PROFILES' | translate }}</span>
    </button>

    <button mat-menu-item routerLink="/admin/users">
      <span><mat-icon>person</mat-icon>
        {{ 'NAVBAR_USER.USERS' | translate }}</span>
    </button>

    <button mat-menu-item (click)="openLogoutDialog()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'MENU.LOGOUT' | translate }}</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="languageMenu" title="Language options">
    <mat-icon>language</mat-icon>
  </button>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let option of languages" (click)="onLanguageChange(option)">
      {{ option }}
      <mat-icon *ngIf="currentLanguage === option" class="check-icon">check</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>
