:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 50%;
}

.container {
    display: flex;
    justify-content: left;
}

form {
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    border: 1px solid lightgray;
    box-shadow: 1rem 1rem .8rem .2rem #cccccc;

    h1 {
        font-size: 2.5rem;
        color: #222831;
        font-weight: bold;
    }

    p {
        font-size: 1.3rem;
        color: #31363F;
        margin-bottom: 2rem;
    }

    .body-container {
        width: 50%;
        margin-bottom: 1rem;

        label {
            font-size: 1.2rem;
            color: #31363F;
        }

        mat-form-field{
            width: 100%;
            margin-bottom: 2.5rem;
            margin-top: 3rem;
        }

        .sec-code {
            width: 10%;
            height: 2rem;
            font-size: 25px;
            color: #76ABAE;
        }

    }
    
    .btnSubmit {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222831;
        padding: 1.2rem;
        line-height: .5;
        border-radius: 10px;
        transition: padding 0.2s ease-in-out;
        margin-bottom: 2rem;

        label {
            font-size: large;
            color: #76ABAE;
            font-weight: bolder;
        }

        label:hover {
            cursor: pointer;
        }

        .icon-Submit {
            color: #76ABAE;
            margin-right: .5rem;
        }
    }

    .btnSubmit:hover {
        padding: 1.5rem;
        cursor: pointer;
    }
}

.btnBack {
    background-color: transparent;
    position: fixed;
    margin: 1rem;
    transition: transform 0.5s ease-in-out;

    .icon-back {
        width: auto;
        height: auto;
        font-size: 60px;
        color: #222831;
        transition: color 0.5s ease-in-out;
    }
}

.btnBack:hover {
    transform: translateX(-10px);

    .icon-back {
        color: #76ABAE;
        text-shadow: 15px 5px 5px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 980px) {
    .main-container{
        width: 80%;
    }

    form{
        height: 60rem;
    }

    form h1{
        font-size: 2.8rem;
    }

    form p{
        font-size: 1.5rem;
    }

    form .body-container{
        width: 60%;
    }

    mat-form-field{
        padding: .5rem;
    }

    .input-container input{
        font-size: x-large;
    }

    .input-container mat-label{
        font-size: x-large;
    }

    .input-container mat-error{
        font-size: x-large;
    }

    .icon-inputs{
        font-size: xx-large;
    }

    .icons-inputs-security{
        font-size: xx-large;
    }

    form .btnSubmit {
        width: 60%;

        label {
            font-size: x-large;
        }

        .icon-Submit {
            font-size: xx-large;
            width: 2rem;
            height: 2rem;
        }
    }
}

@media (max-width: 640px) {
    .main-container{
        width: 90%;
    }

    form h1{
        font-size: 2.5rem;
    }

    form p{
        font-size: 1.5rem;
    }

    form .body-container{
        width: 70%;
    }

    mat-form-field{
        padding: .5rem;
        padding-bottom: .8rem;
    }
}