<div class="main-container">
    <div class="container">
        <a routerLink="/forgot-password-email" class="btnBack">
            <mat-icon class="icon-back">arrow_back</mat-icon>
        </a>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h1>{{ 'FORGOT_PASSWORD.HEADER_TITLE' | translate}}</h1>
            <p>{{ 'FORGOT_PASSWORD.SUBTITLE' | translate}}</p>

            <div class="body-container">
                <mat-form-field class="input-container">
                    <mat-label class="label-input-required">{{ 'FORGOT_PASSWORD.LABEL_CODE' | translate}}</mat-label>
                    <mat-icon matPrefix class="icon-inputs">pin</mat-icon>
                    <input type="text" matInput placeholder="Ingresa el código de seguridad" 
                        formControlName="verificationCode" (input)="validateNumberInput($event)" required>
                    <mat-error *ngIf="form.get('verificationCode')?.invalid">{{getErrorMessage('verificationCode')}}</mat-error>
                </mat-form-field>

                <mat-form-field class="input-container">
                    <mat-label class="label-input-required">{{ 'FORGOT_PASSWORD.LABEL_NEW_PASSWORD' | translate}}</mat-label>
                    <mat-icon matPrefix class="icon-inputs">lock</mat-icon>
                    <input matInput [type]="passwordFieldType1" placeholder="Ingrese su nueva contraseña"
                        formControlName="newPassword" required>
                    <mat-icon matSuffix class="icon-inputs-security" (click)="togglePasswordVisibility1()">{{valueIcon1}}</mat-icon>
                    <mat-error *ngIf="form.get('newPassword')?.invalid">{{getErrorMessage('newPassword')}}</mat-error>
                </mat-form-field>

                <mat-form-field class="input-container">
                    <mat-label class="label-input-required">{{ 'FORGOT_PASSWORD.LABEL_CONFIRM_PASSWORD' | translate}}</mat-label>
                    <mat-icon matPrefix class="icon-inputs">lock</mat-icon>
                    <input matInput [type]="passwordFieldType2" placeholder="Confirme su nueva contraseña"
                        formControlName="confirmPassword" required>
                    <mat-icon matSuffix class="icon-inputs-security" (click)="togglePasswordVisibility2()">{{valueIcon2}}</mat-icon>
                    <mat-error *ngIf="form.get('confirmPassword')?.invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
                </mat-form-field>
            </div>
            <button class="btnSubmit">
                <mat-icon class="icon-Submit">security</mat-icon>
                <label for="">{{ 'FORGOT_PASSWORD.BTN_CHANGE' | translate}}</label>
            </button>
        </form>
    </div>
</div>