<mat-toolbar class="Nabvar">
  <span>{{ title }}</span>
  <span class="Nabvar"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Nabvar icon-button with options">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>library_books</mat-icon>
      <span>{{ 'AUDITORIA' | translate }}</span>
    </button>
    <button mat-menu-item (click)="openLogoutDialog()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'LOGOUT' | translate }}</span>
    </button>
    <button mat-menu-item (click)="switchLanguage()">
      <mat-icon>language</mat-icon>
      <span>{{ 'CHANGE_LANGUAGE' | translate }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
