@import "../../../../assets/sass/variables";

:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: $container-main-width;
}

.container {
    display: flex;
    justify-content: $container-justify-content;
}

.container-icon-title {
    display: $icon-display;
    justify-content: $icon-justify;
    align-items: $icon-align;
    background-color: $palette-color-three;
    width: $icon-width;
    height: $icon-height;
    border-radius: $icon-radius;
    margin-top: $icon-mgt;
    margin-bottom: $icon-mgb;

    .icon-title {
        color: $palette-color-one;
        width: $icon-width;
        height: $icon-height;
        display: $icon-display;
        align-items: $icon-align;
        justify-content: $icon-justify;
        border-radius: $icon-radius;
        font-size: $icon-size;
    }
}

form {
    height: 40rem;
    width: $form-width;
    display: $form-display;
    justify-content: $form-justify;
    align-items: $form-align;
    border-radius: $card-border-radius;
    flex-direction: $form-direction;
    border: $border-param;
    box-shadow: $box-shadow-param;

    header {
        text-align: $text-position;
        margin-bottom: $header-mgb;

        h1 {
            font-size: $form-h1-size;
            color: $palette-color-one;
            margin-bottom: $form-h1-mgb;
            font-family: $font-primary;
            font-weight: $form-h1-weight;
        }

        h3 {
            font-size: $form-h3-size;
            color: $palette-color-three;
            margin-bottom: $header-mgb;
            font-weight: $form-h3-weight;
            font-family: $font-primary;
        }
    }

    mat-form-field {
        width: 25rem;
        margin-bottom: 2rem;

        mat-error {
            margin-top: .5rem;
        }
    }
}

.btnBack {
    background-color: $button-back-bgc;
    position: $button-back-position;
    margin: $button-back-margin;
    transition: $button-back-transition;

    .icon-back {
        width: $icon-back-width;
        height: $icon-back-width;
        font-size: $icon-back-size;
        color: $palette-color-one;
        transition: $transition-button-back;
    }
}

.btnBack:hover {
    transform: $button-back-transform;

    .icon-back {
        color: $palette-color-three;
        text-shadow: $text-shadow;
    }
}

.btnSubmit {
    width: 50%;
    display: $button-display;
    justify-content: $button-justify;
    align-items: $button-align;
    background-color: $palette-color-one;
    color: $palette-color-three;
    border: $button-border;
    font-weight: $font-weight-button;
    font-size: $font-size-button;
    padding: $button-padding;
    line-height: $button-line-height;
    border-radius: $button-radius;
    transition: $button-transition;
    margin-bottom: $button-mgb;
    font-family: $font-primary;

    mat-icon {
        margin-left: $button-icon-mgl;
    }
}

.btnSubmit:hover {
    padding: $button-padding-hover;
    cursor: pointer;
}

@media (max-width: 980px) {
    .main-container {
        width: 80%;
    }

    header h1 {
        font-size: $font-size-h1-resposive;
    }

    header h3 {
        font-size: $font-size-h3-responsive;
    }

    mat-form-field {
        padding: .5rem;
    }

    .responsive-input input {
        font-size: $form-h3-size;
    }

    .responsive-input mat-label {
        font-size: $font-size-input-responsive;
    }

    .responsive-input mat-error {
        font-size: $font-size-input-responsive;
    }

    .icon-inputs {
        font-size: $font-size-input-responsive;
    }

    .btnSubmit {
        margin-top: 2rem;
        padding: 2rem;
        font-size: $font-size-icon-responsive;

        mat-icon {
            font-size: x-large;
            margin-left: .5rem;
        }
    }
}

@media (max-width: 640px) {
    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 20px;
    }

    .btnSubmit {
        width: 80%;
        margin-top: 2rem;
        padding: 2rem;
        font-size: $font-size-icon-responsive;

        mat-icon {
            width: 2rem;
            font-size: $font-size-icon-responsive;
            margin-left: .2rem;
        }
    }
}