<div [@componentAnimation] class="main-container">
    <div class="container">
        <a routerLink="/auth/login" class="btnBack">
            <mat-icon class="icon-back">arrow_back</mat-icon>
        </a>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" #sendEmail="ngForm">
            <div class="container-icon-title"><mat-icon class="icon-title">forward_to_inbox</mat-icon></div>
            <header>
                <h1>{{ 'FORGOT_PASSWORD_EMAIL.HEADER_TITLE' | translate}}</h1>
                <h3>{{ 'FORGOT_PASSWORD_EMAIL.SUBTITLE' | translate}}</h3>
            </header>
            <div class="container-body">
                <mat-form-field class="responsive-input">
                    <mat-label>{{ 'FORGOT_PASSWORD_EMAIL.LABEL_EMAIL' | translate}}</mat-label>
                    <mat-icon matPrefix class="icon-inputs">email</mat-icon>
                    <input matInput type="email" id="email" name="email"
                        [(ngModel)]='email' placeholder="prueba@email.com" formControlName="email" required>
                    <mat-error *ngIf="form.get('email')?.invalid">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
            </div>
            
            <button class="btnSubmit">
                {{ 'FORGOT_PASSWORD_EMAIL.BTN_SEND' | translate}}<mat-icon class="icon-input-next">double_arrow</mat-icon></button>
        </form>
    </div>
</div>