@import "../../../../assets/sass/variables";

:host {
    height: $host-param-height;
    width: $host-param-width;
    display: $host-display;
    justify-content: $host-justify-content;
    align-items: $host-align-items;
    flex-direction: $host-flex-direction;
}

::ng-deep .mat-mdc-form-field {
    --mdc-filled-text-field-container-color: transparent;
    --mdc-filled-text-field-label-text-color: #76ABAE;
    --mdc-filled-text-field-label-text-fonr: "Cabin";
    --mdc-filled-text-field-input-text-placeholder-color: #31363F;
    
}

.container-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-primary;
}

header {
    text-align: $text-position;

    h1,
    h3 {
        color: $palette-color-three;
        margin: .5rem;
    }

    strong {
        cursor: pointer;
        color: $palette-color-one;
        transition: font-size .2s ease-in-out, color .2s ease-in-out;
    }

    strong:hover{
        color: $palette-color-three;
        font-size: 20px;
    }
}

.container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;

    mat-form-field {
        width: 95%;
        background-color: transparent;
        margin-bottom: 1.5rem;
        box-shadow: none;
    
        .icon-inputs {
            color: $palette-color-three;
        }

        input{
            background-color: transparent;
        }

        mat-error {
            margin-top: .5rem;
        }
    }
}

.container-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;

    label {
        display: flex;
        align-items: center;
        white-space: nowrap;
        width: auto;
        padding: .5rem;
    }

    label:hover {
        cursor: pointer;
    }

    .check {
        color: $palette-color-two;
        margin-right: .5rem;
    }

    a {
        text-decoration: none;
        color: $palette-color-one;
    }

    a:hover {
        text-decoration: underline;
    }
}

.btnSubmit {
    width: 100%;
    display: $button-display;
    justify-content: $button-justify;
    align-items: $button-align;
    background-color: $palette-color-three;
    color: $palette-color-four;
    border: $button-border;
    font-weight: $font-weight-button;
    font-size: $font-size-button;
    padding: $button-padding;
    line-height: $button-line-height;
    border-radius: $button-radius;
    transition: transform 0.2s ease-in-out;
    margin-bottom: $button-mgb;
    font-family: $font-primary;
    margin-top: $button-mgt;

    mat-icon {
        margin-left: $button-icon-mgl;
    }
}

.btnSubmit:hover {
    transform: scale(110%);
    cursor: pointer;
}

.card {
    width: 30%;
    background-color: $color-white;
    padding: 5rem;
    border: $border-param;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow-param;
}

@media (max-width: 980px) {
    .card {
        padding: 2rem;
        width: 80%;
    }

    .responsive-input input {
        font-size: $font-size-input-responsive;
    }

    .responsive-input mat-label {
        font-size: $font-size-input-responsive;
    }

    .responsive-input mat-error {
        font-size: $font-size-input-responsive;
    }

    .icon-inputs {
        font-size: $font-size-icon-responsive;
    }

    .icon-inputs-security {
        font-size: $font-size-icon-responsive;
    }

    button {
        margin-top: 2rem;
        padding: 1rem;
        font-size: $font-size-button-resposive;
    }

    .container-options {
        margin-top: 1.5rem;

        label {
            font-size: $font-size-input-responsive;
        }

        a {
            font-size: $font-size-input-responsive;
        }

    }

    h1 {
        font-size: $font-size-h1-resposive;
    }

    h3 {
        font-size: $font-size-h3-responsive;
    
        strong:hover{
            font-size: 32px;
        }
    }

}



@media (max-width: 400px) {
    .card{
        height: 100%;
        width: 100%;
    }

    header{
        margin-top: 5rem;
    }

    .btnSubmit {
        width: 70%;
        margin-top: 5rem;
    }

    .container-options{
        padding: .5rem;
        margin-right: 1.5rem;
    }

    .container-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        width: 100%;
    
        mat-form-field {
            width: 95%;
            margin-bottom: 2rem;
    
            .icon-inputs {
                color: $palette-color-three;
            }
    
            mat-error {
                margin-top: .5rem;
                font-size: 22px;
            }
        }
    }
}